<p id="notice"><%= notice %></p>

<p>
  <strong>Day week:</strong>
  <%= @visit.day_week %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @visit.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @visit.end_time %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
